<!-- подключим шаблон (base.html) с проверкой входа на данную страницу 
чтобы сверху страницы отображался войденный пользователь-->
{% extends 'sitetomadmin/base.html' %}

<!-- выделим содержание страницы границами блока -->
{% block content %} 



<h1>Зарегистрироваться</h1>
<h2>{{ error }}</h2>

<!-- тег формы для использования метода POST
чтобы определить действие для введенной информации от пользователя
добавим action
метод POST предлогает информацию на конкретный адрес но при этом оставляет
ее скрытой от основного адреса запроса, разделяя его на несколько частей
Как раз актуально, когда пользователь вводит свои имя и пароль
чтобы не светить данными в самой ссылке как с методом GET
POST не отображает данные в ссылке
И метод GET отображает какие-либо данные даже если они не привязаны к базе данных
POST используется для создание каких-либо объектов (и обновление) или действий  

-->

<form method="POST">
    {% csrf_token %} <!-- без этого токена метод пост не работает из-за системы безопасности -->
    
    <!-- подключили форму из django -->
    {{form.as_p}}
    <!-- КОММЕНТИРУЮ СТРОКУ ЧТОБЫ БОТЫ НЕ РЕГАЛИСЬ НА САЙТЕ
    А ТАК ЗАРЕГАЛ САМ ПОЛЬЗОВАТЕЛЯ Pedagog и все им пользуются для отправки заявок  -->
    <button type="submit">Зарегистрироваться</button>
</form>

<!-- заканичиваем код двух строк сверху про отображение авторизованного пользователя -->
{% endblock %}